<link rel="stylesheet" href = "/style/style.css" >

<div id = 'heading'>
    
    <a href = "/">
        <img src = '/imgs/logo.png'>
    </a>
    <div id = 'links'> 
        <div> <a href="/github"> <p> Github </p> </a> </div>
        <div> <a href="/about"> <p> About </p> </a>  </div>
        <div> <a href="/authors"> <p> Authors </p> </a>  </div>
    </div>

</div>

